body {
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Josefin Sans', sans-serif;   
    margin: 0;
    padding: 0;
    background-color: #121521;
}

p {
    color: #fff;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #fff;
}

/*отрегулировать шрифты*/
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    color: #fff;
}

/*отрегулировать шрифты*/
h4 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    margin: 0;
}

/*отрегулировать шрифты*/
.darkerg-twentyeight {
    /*font-family: 'Darker Grotesque', sans-serif; 
    font-weight: 600;
    font-size: 28px; */
    color: #fff;
}

/*переименовать класс и отрегулировать шрифты*/
.dg-400-20 { 
    /*font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 20px;*/
    color: #fff;
}

.dg-400-32 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #ffffff;
    line-height: 43px;   
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-sb {
    justify-content: space-between;
}

.btn {
    font-size: 17px;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 130%;
    margin-right: 30px;
}


.btn__color--purple {
    background-color: #40467c;
}

.btn__color--black {
    background-color: #141923;
    border: 2px solid #fff;
}

.container {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

/*MEIN-MENU*/

.header-menu {
    height: 140px;
    
}

.header-menu__list {
    display: flex;
    width: 700px;
    justify-content: space-between;
    
}

.header-menu__list li {
    list-style: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.header-menu__list--decor {
    color: #ffffff;
}

.td-n a {
    text-decoration: none;
}

/*BANNER*/

.banner {
    height: 750px;
}

.banner-content {
    width: 455px;
    height: 380px;
    margin-right: 75px;
}

.banner-content h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
}

.banner-text-button a {
    color: #ffffff;
}

.banner-content img {
    position: absolute;
}

.banner-content .dg-400-20 { /*не знаю как по-другому применить эти действия (класс внутри класса)*/
line-height: 27px;
letter-spacing: 0.08em;
text-transform: uppercase;
}

/*BLOCK WITH VIDEO*/

.video {
    margin-top: 120px;
    display: flex;
    background-color: #1B213A;
}

.video-pic--size {
    height: 530px;
}

.icon-video {
    position: absolute;
    left: calc(50% - 330px);
    top: 1250px;
    width: 60px;
    height: 60px;
}

.video-text {
    height: 530px;
    background-color: #1B213A;
}

.video-text--padding {
    padding-left: 30px;
}

.video-text__item {
    display: grid;
    grid-template-columns: 275px 275px;
    gap: 30px;
}

/*LOCATIONS*/

.location {
    height: 595px;
    margin-top: 125px;
}

.location-img {
    height: 485px;
    margin-top: 50px;
}

.image--proportions {
    height: 395px;
    width: 395px;
}

.btn-pos {
    position: absolute;
    width: 230px;
    height: 60px;
    left: calc(50% - 234px/2);
    top: 2030px;
    color: #fff;
    border: none;
}

.location-img__item {
    width: 395px;
    height: 495px;
}

.scroll {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

/*BOOK INFO*/

.info {
    margin-top: 130px;
    margin-bottom: 130px;
    height: 845px;
    background-color: #1B213A;
}

.info-about {
    width: 580px;
    margin-right: 60px;
}

.info-about--bg {
    position: relative;
    width: 1920px;
    height: 845px;
    left: 0;
    top: 2380px;
    background-color: #1B213A;
}

.info-about__item {
    height: 285px;
    border: 2px solid #fff;
    margin-bottom: 20px;
    padding: 25px 25px;
}

.info-about__items {
    height: 110px;
    border: 2px solid #fff;
    margin-bottom: 20px;
    padding: 25px 25px;;
}

.info-about__item p { /*наладить шрифты*/
    /*font-family: 'Darker Grotesque', sans-serif; 
    font-weight: 400;
    font-size: 20px;*/
    color: #fff;
}

/*БЛОК GALLERY*/

.gallery {
    margin-top: 200px;
}

.gallery-title--text {
    width: 625px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dog-text {
    text-decoration: none;
    color: #fff;
}

.gallery-photo {
    height: 630px;
}

.gallery-photo__grid {
    width: 610px;
    height: 630px;
    display: grid;
    grid-template-columns: 290px 290px;
    gap: 30px;
}

.gallery-photo__grid img {
    width: 290px;
    height: 300px;
}

/*блок REVIEWS*/

.reviews {
    margin-top: 120px;
    height: 680px;
}

.reviews-block {
    height: 580px;
}

.reviews-block--items {
    height: 580px;
    width: 500px;
}


.reviews-block__item {
    height: 275px;
    background-color: #1B213A;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 40px;
}

.reviews-block__item--mb {
    margin-bottom: 30px;
}

.scroll-btn--position{
    position: absolute;
    width: 60px;
    height: 59.12px;
    left: 600px;
   top: 4420px;
}

.scroll-btn--margin img{
    margin-bottom: 30px;
}

/* Блок с формой DROPS*/
.form--dark {
    background-color: #1B213A;
}

.form-drop {
    margin-top: 120px;
    height: 640px;
}

.form-drop--margin {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.form-drop__outside {
    position: relative;
    right: 340px;
}

.form-drop__form {
    width: 640px;
    height: 640px;
}

.input:focus {
    border: 2px solid #fff;
}

.textform {
    background-color: #1B213A;
    border: 2px solid #40467c;
    width: 520px;
    height: 60px;
}

.textform--font {
    margin-bottom: 15px;
}

.textarea {
    background-color: #1B213A;
    border: 2px solid #40467c;
    width: 520px;
    height: 130px;
}

.send-primary {
    color: #fff;
    border: none;
}

.checkbox__input--mark {
    color: #40467c; /*не применяется*/
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

/*FOOTER BLOCK*/
